<nav class="header">
  <section class="header__logo">
    <figure>
      <img src="./../../../assets/images/hermes.svg" alt="logo de Hermes" />
    </figure>
    <h1>Hermes</h1>
  </section>
  <section class="header__options">
    <ul>
      <li class="header__options--whatIs">
        <a
          [routerLink]="['/']"
          fragment="whatis"
          routerLinkActive="router-link-active"
          >What is?</a
        >
      </li>
      <li class="header__options--aboutUs">
        <a
          [routerLink]="['/']"
          fragment="aboutus"
          routerLinkActive="router-link-active"
          >About us</a
        >
      </li>
      <li class="header__options--goToApp">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Go to app</a
        >
      </li>
    </ul>
  </section>
</nav>
