@import "../../../../../styles.scss";
:host {
  @extend .page-vision;
}

.content{
  height: calc(100% - calc(5% + 4em));
  max-height: calc(100% - calc(5% + 4em));
  width: calc(100% - 220px);
  margin: auto;
  padding: 2em;
  @media screen and (max-width: 480px) and (orientation: portrait){
    padding: 2em;
    height: calc(100vh - 7em);
    max-height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 480px) and (orientation: landscape){
    padding: 2em;
    height: auto;
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 768px) and (orientation: portrait){
    padding: 2em;
    height: calc(100vh - 7em);
    max-height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 768px) and (orientation: landscape){
    padding: 2em;
    height: auto;
    width: calc(100% - 4em);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
    padding: 2em;
    height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape)  {
    margin: calc(auto + 220px );
    padding: 2em;
  }
}

@mixin background {
  margin-top: 2em;
  background-color: $gray;
  padding: 1em;
}
