@import "../../../../../styles.scss";
:host {
  @extend .page-vision;
  background-color: $strongBlue;
  height: calc(100vh);
}
.hero {
  margin: 0 5%;
  &__subtitle {
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    h3 {
      font-size: 2.5rem;
      margin: 1% auto;
      font-weight: bold;
      color: $pink;
    }
  }
  &__reasons {
    border-bottom: 2px solid $pink;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      padding: unset;
    }
    &--item {
      width: 11%;
      color: $white;
      line-height: 1.6em;
      strong {
        font-weight: bold;
        font-size: 1.2rem;
        color: $pink;
      }
    }
  }
  &__title {
    color: white;
    font-weight: bold;
    font-size: 7rem;
    margin: unset;
  }
}
.organizations {
  margin: 0 5%;
  &__intro {
    font-weight: normal;
    color: $weakBlue;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  &__container {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--item {
      display: flex;
      .item__image {
        position: relative;
        height: 200px;
        margin-left: 0;
        img {
          max-height: 100%;
        }
        &:hover {
          .item__info {
            background-color: rgba(51, 50, 50, 0.466);
            display: flex;
          }
        }
      }
      .item__info {
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--title {
          color: $pink;
          font-weight: bold;
          font-size: 1.5rem;
        }
        &--phone {
          @extend .item__info--title;
          color: $white;
          margin: unset;
        }
        &--country {
          font-weight: normal;
          font-size: 1.2rem;
          color: $weakBlue;
        }
      }
    }
  }
}

// / RESPONSIVE
//    ========================================================================= /
@media (min-width: 1024px) and (max-width: 1199px) {
  :host {
    height: calc(95vh);
  }
}
// / Horizontal tablets and normal desktops
@media (min-width: 768px) and (max-width: 1023px) {
  :host {
    height: unset;
  }
  .hero {
    margin: 8% 5%;
  }
}
// / Horizontal mobiles or vertical tablets
@media (max-width: 767px) {
  :host {
    height: calc(165vh);
  }
  .hero {
    margin: 8% 5%;
  }
  .organizations {
    margin: -5% 5%;
  }
}
// / Vertical mobiles
@media (max-width: 480px) {
  :host {
    height: calc(135vh);
  }
  .hero {
    margin: 8% 5%;
    &__reasons--item {
      width: 20%;
    }
  }
  .organizations {
    margin: 0% 5%;
    &__container {
      flex-direction: column;
      height: unset;
    }
  }
}
