<app-header [section]="section"></app-header>
<section class="login">
  <div class="login__card">
    <section class="login__card--image">
      <figure>
        <img
          src="assets/images/happiness_writing.jpeg"
          alt="A happy girl writting on her laptop"
        />
      </figure>
    </section>
    <section class="login__card--form">
      <h2 class="form__title">Welcome back</h2>
      <h3 class="form__subtitle">
        New here?
        <a [routerLink]="['/register']" routerLinkActive="router-link-active"
          >Create an account</a
        >
      </h3>
      <form (ngSubmit)="signIn($event)" [formGroup]="form">
        <div class="form__group">
          <label for="email">Email</label> <br />
          <span *ngIf="emailField.errors && emailField.dirty">
            <span class="form__error" *ngIf="emailField.hasError('required')"
              >Please write your email
            </span>
            <span class="form__error" *ngIf="emailField.hasError('email')">
              Please write your email correctly</span
            >
          </span>
          <input
            placeholder="Type your email"
            type="text"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="form__group">
          <label for="password">Password</label> <br />
          <span *ngIf="passwordField.errors && passwordField.dirty">
            <span class="form__error" *ngIf="passwordField.hasError('required')"
              >Please write your password</span
            >
          </span>
          <input
            placeholder="Type your password"
            type="password"
            id="password"
            formControlName="password"
          />
        </div>
        <button class="form__button" [disabled]="form.invalid">Sign in</button>
      </form>
    </section>
  </div>
</section>
<div id="snackbar"></div>
