@import "../../../../../styles.scss";
:host {
  @extend .page-vision;
}

.form{
  height: calc(100% - calc(5% + 4em));
  max-height: calc(100% - calc(5% + 4em));
  width: calc(100% - 220px);
  margin: auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 480px) and (orientation: portrait){
    padding: 2em;
    height: calc(100vh - 7em);
    max-height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 480px) and (orientation: landscape){
    padding: 2em;
    height: auto;
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 768px) and (orientation: portrait){
    padding: 2em;
    height: calc(100vh - 7em);
    max-height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (max-width: 768px) and (orientation: landscape){
    padding: 2em;
    height: auto;
    width: calc(100% - 4em);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
    padding: 2em;
    height: calc(100vh - 7em);
    width: calc(100% - 4em);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape)  {
    margin: calc(auto + 220px );
    padding: 2em;
  }
  &__title {
    @extend .title;
    text-align: center;
  }
  &__letter {
    margin: 2em;
    background-color: $pink;
    width: 35em;
    height: 30em;
    border-radius: 10px;
    @media screen and (max-width: 768px) and (orientation: protrait){
      width: 30em;
    }
    @media screen and (max-width: 768px) and (orientation: landscape){
      margin: 1em;
      width: 30em;
      height: 25em;
    }
    & .letter__header{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & img{
        width: 5em;
        height: 5em;
        margin: 1em;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          width: 4em;
          height: 4em;
          margin: 1em;
        }
        @media screen and (min-width: 480px) and (max-width: 768px) {
          width: 4em;
          height: 4em;
          margin: 1em;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 5em;
          height: 5em;
          margin: 1em;
        }
      }
      &--name{
        @extend .subtitle;
        margin: 0;
      }
    }
    & .letter__content{
      @extend .text;
      color: $strongBlue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1em;
      & textarea[name="feeling"]{
        font-family: $fontArchivo;
        margin-top: 0.5em;
        background-color: transparent;
        font-size: 1em;
        width: 100%;
        height: 7em;
        max-height: 7em;
        resize: none;
        border: none;
        @media screen and (max-width: 480px) and (orientation: portrait){
          height: 13em;
          max-height: 13em;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
          height: 12em;
          max-height: 12em;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape)  {
          height: 12em;
          max-height: 12em;
        }
        @media screen and (min-width: 1200px) and (max-width: 1280px)  {
          height: 12em;
          max-height: 12em;
        }
        &:focus{
          outline: none;
        }
        &::placeholder{
          font-size: 1em;
        }
      }
    }
  }
  &__footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
    }
    .btn{
      @extend .material-icons;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $tertiaryBlue;
        background-color: $white;
        color: $tertiaryBlue;
        transition: background 0.2s, color 0.2s;
        &:focus,
        &:active {
          outline: none;
          transform: scale(0.95);
          background-color: $tertiaryBlue;
          color: $white;
        }
        &:disabled {
          outline: none;
          transform: scale(0.95);
          background-color: gray;
          color: $white;
          border: 1px solid $white;
        }
    }
    & span {
      @extend .text;
      margin-top: 5px;
      text-align: center;
      color: $strongBlue;
    }
  }
}
