<form class="form">
  <h1 class="form__title">How was your day?</h1>
  <section class="form__letter">
    <section class="letter__header">
      <img src="../../../../assets/images/User.svg" alt="User" />
      <h2 class="letter__header--name">C</h2>
    </section>
    <section class="letter__content">
      <label for="feeling">Write your message</label>
      <textarea
      name="feeling"
      id="feeling"
      form="inputForm"
      placeholder="Write here"
      ></textarea>
    </section>
  </section>
  <section class="form__footer">
    <button class="btn" type="submit">send</button>
    <span>Send</span>
  </section>
</form>