<app-header [section]="section"></app-header>
<section class="register">
  <div class="register__card">
    <section class="register__card--image">
      <figure>
        <img
          src="assets/images/happiness_writing.jpeg"
          alt="A happy girl writting on her laptop"
        />
      </figure>
    </section>
    <section class="register__card--form">
      <h2 class="form__title">Hi there</h2>
      <h3 class="form__subtitle">
        Do you have an account?
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Yes, let me sign in</a
        >
      </h3>
      <form (ngSubmit)="signIn($event)" [formGroup]="form">
        <div class="form__group">
          <label for="name">First Name</label>
          <span *ngIf="nameField.errors && nameField.dirty">
            <span class="form__error" *ngIf="nameField.hasError('required')"
              >Please write your name</span
            >
          </span>
          <input
            placeholder="Type your name"
            type="text"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="form__group">
          <label for="email">Email</label>
          <span *ngIf="emailField.errors && emailField.dirty">
            <span class="form__error" *ngIf="emailField.hasError('required')"
              >Please write your email
            </span>
            <span class="form__error" *ngIf="emailField.hasError('email')">
              Please write your email correctly</span
            >
          </span>
          <input
            placeholder="Type your email"
            type="text"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="form__group">
          <label for="password">Password</label>
          <span *ngIf="passwordField.errors && passwordField.dirty">
            <span class="form__error" *ngIf="passwordField.hasError('required')"
              >Please write your password</span
            >
          </span>
          <input
            placeholder="Type your password"
            type="password"
            id="password"
            formControlName="password"
          />
        </div>
        <label class="form__switch">
          <input id="switch" type="checkbox" class="form__switch--checkbox" />
          <span class="form__switch--slider-round"></span>
        </label>
        <label for="switch" class="form__rememberMe"
          >Accept terms and conditions</label
        >
        <button class="form__button" [disabled]="form.invalid">Sign up</button>
      </form>
      <div class="form__otherOptions">
        <hr class="form__otherOptions--left" />
        <span>or sign in with</span>
        <hr class="form__otherOptions--right" />
      </div>
      <button class="form__button--facebook">
        Facebook
        <!-- <img src="assets/images/facebook.svg" alt="Facebook" /> Facebook -->
      </button>
      <button class="form__button--google">
        Google
        <!-- <img src="assets/images/google.svg" alt="Google" /> Google -->
      </button>
    </section>
  </div>
</section>
<div id="snackbar"></div>
