<section class="inbox">
  <h1 class="inbox__title">Your messages</h1>
  <section class="inbox__letter">
    <section class="letter__header">
      <img src="../../../../assets/images/User.svg" alt="User">
      <h2 class="letter__header--name">C</h2>
    </section>
    <section class="letter__content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos perspiciatis, ab dicta fugiat, dolor laboriosam error quo architecto esse, quas placeat quod corrupti laborum perferendis magnam magni temporibus itaque rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minima assumenda ea voluptas optio doloribus laboriosam quam amet quaerat deserunt ab odio, dicta asperiores corrupti! Doloribus tenetur ducimus at quasi.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod id optio aspernatur perferendis eius alias porro, veritatis iure eveniet possimus delectus enim explicabo, at dicta tempora eos ab repellat non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error illo doloremque ducimus hic officia quae, veritatis ex aliquam cum deserunt aspernatur rem accusamus culpa ab sit. Numquam provident quisquam incidunt.
      </p>
    </section>
  </section>
  <section class="inbox__footer">
    <section class="btn">
      <button class="btn__style">favorite</button>
      <span>React</span>
    </section>
    <section class="btn">
      <button class="btn__style">quickreply</button>
      <span>Reply</span>
    </section>
    <section class="btn">
      <button class="btn__style">report</button>
      <span>Report</span>
    </section>    
  </section>
  {{ hello }}
</section>