<section class="inbox">
  <h1 class="inbox__title">Your messages</h1>
  <section class="inbox__letter">
    <section class="letter__header">
      <img src="../../../../assets/images/User.svg" alt="User">
      <h2 class="letter__header--name">{{ letter.author_letter }}</h2>
    </section>
    <section class="letter__content">
      <p>
        {{ letter.content }}
      </p>
    </section>
  </section>
  <section class="inbox__footer">
    <section class="btn">
      <button class="btn__style">favorite</button>
      <span>React</span>
    </section>
    <section class="btn">
      <button class="btn__style">quickreply</button>
      <span>Reply</span>
    </section>
    <section class="btn">
      <button class="btn__style">report</button>
      <span>Report</span>
    </section>    
  </section>
</section>