@import "../../../../../styles.scss";
:host {
  @extend .page-vision;
}

.inbox{
  height: calc(100% - calc(5% + 4em));
  max-height: calc(100% - calc(5% + 4em));
  width: calc(100% - 220px);
  margin: auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding: 1em;
    width: calc(100% - 1em);
    max-height: calc(100vh - 3em);
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    padding: 1em;
    width: calc(100% - 1em);
    max-height: calc(100vh - 3em);
  }
  &__title {
    @extend .title;
    text-align: center;
  }
  &__letter {
    margin: 2em;
    background-color: $pink;
    width: 35em;
    height: 30em;
    border-radius: 10px;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      margin: 1em;
      width: calc(100% - 2em);
      height: 20em;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      margin: 1em;
      width: calc(100% - 2em);
      height: 20em;
    }
    & .letter__header{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & img{
        width: 5em;
        height: 5em;
        margin: 1em;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          width: 4em;
          height: 4em;
          margin: 1em;
        }
        @media screen and (min-width: 480px) and (max-width: 768px) {
          width: 4em;
          height: 4em;
          margin: 1em;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 5em;
          height: 5em;
          margin: 1em;
        }
      }
      &--name{
        @extend .subtitle;
        margin: 0;
      }
    }
    & .letter__content{
      @extend .text;
      color: $strongBlue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1em;
      & p{
        overflow-y: auto;
        margin-top: 0.5em;
        background-color: transparent;
        font-size: 1em;
        width: 100%;
        height: 7em;
        max-height: 7em;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          height: 6em;
          max-height: 6em;
        }
        @media screen and (min-width: 480px) and (max-width: 768px) {
          height: 7em;
          max-height: 7em;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          height: 8em;
          max-height: 8em;
        }
      }
    }
  }
  &__footer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
    }
    & .btn{
      margin: auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media screen and (min-width: 320px) and (max-width: 480px) {
        width: 100%;
      }
      @media screen and (min-width: 480px) and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
      }
      &__style{
        @extend .material-icons;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $tertiaryBlue;
        background-color: $white;
        color: $tertiaryBlue;
        transition: background 0.2s, color 0.2s;
        &:focus,
        &:active {
          outline: none;
          transform: scale(0.95);
          background-color: $tertiaryBlue;
          color: $white;
        }
      }
      & span{
        @extend .text;
        margin-top: 5px;
        text-align: center;
        color: $strongBlue;
      }
    }
  }
}