<section class="content">
  <app-people></app-people>
  <section class="content__chat">
    <section class="chat__messages">
      <section class="chat__messages--from">
        <img src="../../../../../assets/images/User.svg" alt="User">
      <p>Hola como estas, yo muy bien</p>
      <p class="time">Date</p>
      </section>
      <section class="chat__messages--to">
        <p class="time">Date</p>
        <p>Hola, yo muy bien y tu como estas</p>
        <img src="../../../../../assets/images/User.svg" alt="User">
      </section>
      <section class="chat__messages--from">
        <img src="../../../../../assets/images/User.svg" alt="User">
        <p>Hola como estas, yo muy bien</p>
        <p class="time">Date</p>
      </section>
      <section class="chat__messages--to">
        <p class="time">Date</p>
        <p>Hola, yo muy bien y tu como estas</p>
        <img src="../../../../../assets/images/User.svg" alt="User">
      </section>
      <section class="chat__messages--from">
        <img src="../../../../../assets/images/User.svg" alt="User">
        <p>Hola como estas, yo muy bien</p>
        <p class="time">Date</p>
      </section>
      <section class="chat__messages--to">
        <p class="time">Date</p>
        <p>Hola, yo muy bien y tu como estas</p>
        <img src="../../../../../assets/images/User.svg" alt="User">
      </section>
    </section>
    <input type="text" class="chat__input" placeholder="Write your message">
  </section>
</section>