<h1>Chats</h1>
<section class="people">
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 1</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 2</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 3</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 1</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 2</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 3</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 1</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 2</span>
  </button>
  <button class="people__btn">
    <img src="../../../../../assets/images/User.svg" alt="User">
    <span>Nombre 3</span>
  </button>
</section>