/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

//Fuente
$fontArchivo: "Archivo", sans-serif;

//Paleta de colores
$gray: #f0f0f0;
$pink: #fdb4b1;
$blue: #45648a;
$strongBlue: #19375e;
$weakBlue: #05b4e2;
$white: #ffffff;
$tertiaryBlue: #005780;
$purple: #003de2;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontArchivo;
}


.buttonLandingPage {
  width: 200px;
  height: 50px;
  border: none;
  margin-right: 0.6rem;
  box-shadow: -1px 3px 6px 0px rgba(43, 40, 40, 0.815);
  &:hover {
    cursor: pointer;
  }
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.text {
  font-size: 1.5rem;
  font-weight: normal;
}
