<section class="letter">
  <section class="letter__header">
    <img src="../../../../assets/images/User.svg" alt="User">
    <h3>C</h3>
  </section>
  <section class="letter__content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos a consequatur sapiente laudantium nam non beatae illo accusamus porro sint exercitationem, explicabo quam reiciendis, ipsam, quae placeat aliquam iusto.</p>
  </section>
  <section class="letter__footer">
    <p>149/149</p>
  </section>
</section>