.reply{
  margin: 1em 1em 0;
  width: calc(100% - 2em);
  // height: 15em;
  max-height: 30em;
  background-color: rosybrown;
  &__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & img{
      width: 4em;
      height: 4em;
      margin: 1em;
    }
  }
  &__content{
    padding: 0 1em 1em;
    &--text{
      text-align: justify;
    }
  }
  &__footer{
    padding: 0 1em 1em;
    & p{
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }
}