@import "./../../../../../styles.scss";
:host {
  min-height: 100%;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontArchivo;
  background-color: $strongBlue;
  height: calc(100vh - 3rem);
  &__info {
    position: relative;
    left: 2%;
    top: -6%;
    text-align: right;
    width: 450px;
    &--title {
      color: $pink;
      @extend .title;
    }
    &--subtitle {
      color: $weakBlue;
      @extend .subtitle;
    }
    &--text {
      color: $white;
      @extend .text;
    }
    &--buttons {
      margin-top: 6rem;
      button {
        @extend .buttonLandingPage;
      }
      .buttons__primaryButton {
        background-color: $tertiaryBlue;
        color: $white;
        font-weight: bold;
        &:hover {
          color: $pink;
        }
      }
      .buttons__secondaryButton {
        background-color: $pink;
        color: $strongBlue;
        font-weight: bold;
        &:hover {
          color: $purple;
        }
      }
    }
  }
  &__image {
    align-self: flex-end;
    figure {
      width: 100%;
      img {
        max-width: 100%;
        margin-left: 5%;
      }
    }
  }
}
.whatis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontArchivo;
  background-color: $pink;
  height: calc(100vh);
  &__info {
    position: relative;
    right: 2%;
    top: 3%;
    width: 395px;
    &--title {
      color: $strongBlue;
      @extend .title;
    }
    &--subtitle {
      color: $purple;
      @extend .subtitle;
    }
    &--text {
      color: $strongBlue;
      margin-bottom: 3.2rem;
      @extend .text;
    }
    &--link {
      color: $strongBlue;
      @extend .text;
      &:hover {
        color: $purple;
      }
    }
  }
  &__image {
    align-self: center;
    figure {
      width: 85%;
      img {
        max-width: 100%;
        margin-left: 5%;
      }
    }
  }
}
