<app-header></app-header>
<div class="hero">
  <section class="hero__info">
    <h1 class="hero__info--title">Share us your day</h1>
    <h2 class="hero__info--subtitle">(Don't worry we don't judge)</h2>
    <p class="hero__info--text">
      Hermes allows you to share your day with others randomly and anonymously
    </p>
    <div class="hero__info--buttons">
      <button class="buttons__primaryButton">Try it</button>
      <button class="buttons__secondaryButton">How?</button>
    </div>
  </section>
  <section class="hero__image">
    <figure>
      <img
        src="./../../../../../assets/images/reading.svg"
        alt="Hero image, girl reading"
      />
    </figure>
  </section>
</div>
<div class="whatis"></div>
